name: CI

# Run on any push or any PR (both for any branch)
on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always # Pretty colors

jobs:
  check_fmt:
    name: Cargo fmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - run: ./ci.sh check_fmt

  check_docs:
    name: Cargo docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
      - uses: dtolnay/rust-toolchain@nightly
      - run: ./ci.sh check_docs

  lint:
    name: Lint (clippy)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - run: ./ci.sh lint

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
      - run: ./ci.sh build

  # TODO: remove unless crate is no_std
  # build_nostd:
  #   name: Build (nostd)
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v5
  #     - uses: dtolnay/rust-toolchain@stable
  #       with:
  #         targets: thumbv6m-none-eabi
  #     - run: ./ci.sh build_nostd

  run_tests_stable:
    name: Tests (stable)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
      - run: ./ci.sh run_tests_stable

  run_tests_beta:
    name: Tests (beta)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@beta
      - run: ./ci.sh run_tests_beta

  run_tests_msrv:
    name: Tests (MSRV)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@1.85.0
      - run: ./ci.sh run_tests_msrv

  # TODO: port script to something cross-platform, then uncomment
  # run_tests_windows:
  #   name: Tests (Windows)
  #   runs-on: windows-latest
  #   steps:
  #     - uses: actions/checkout@v5
  #     - uses: dtolnay/rust-toolchain@stable
  #     - run: ./ci.sh run_tests_stable

  run_tests_leak_sanitizer:
    name: Tests (leak sanitizer)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@nightly
      - run: ./ci.sh run_tests_leak_sanitizer

  # TODO: remove if unsafe_code is forbidden
  run_tests_miri:
    name: Tests (MIRI)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: miri
      - run: ./ci.sh run_tests_miri
